.anchor-list {
  @include reset-list;
}

.anchor-list__item {
  &--btn {
    margin-left: 99px;
    margin-bottom: 128px;

    @media screen and (max-width: $desktop-width - 1) {
      margin-left: 119px;
      margin-bottom: 143px;
    }

    @media screen and (max-width: $tablet-width - 1) {
      width: 97%;
      margin: 0 auto 55px;
    }

    span:last-child {
      display: none;

      @media screen and (max-width: $tablet-width - 1) {
        display: inline;
      }
    }

    span:first-child {
      display: inline;

      @media screen and (max-width: $tablet-width - 1) {
        display: none;
      }
    }
  }

  &--scroll {
    width: fit-content;
    transform: rotate(-90deg);
    margin-left: -35px;

    @media screen and (max-width: $desktop-width - 1) {
      display: none;
    }
  }
}

.anchor-list__link {
  // &--btn {
  //   margin: 94px 0 0 94px;

  //   @media screen and (max-width: $desktop-width - 1) {
  //     margin: 48px 0 0 94px;
  //   }

  //   @media screen and (max-width: $tablet-width - 1) {
  //     margin: 0 0 0 70px;
  //   }
  // }

  &--scroll {
    font-size: 14px;
    line-height: 16px;
    color: $text-main;
    opacity: 0.5;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      color: $text-accent;
      opacity: 1;
    }
  }
}
