.contact-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: 38px;
  padding-top: 5px;

  @media screen and (max-width: $desktop-width - 1) {
    justify-content: flex-end;
    padding-right: 3px;
    padding-bottom: 4px;
    margin-right: 0;
  }

  span {
    @media screen and (max-width: $desktop-width - 1) {
      display: none;
    }
  }
}

.contact-list__item {
  margin-right: 88px;
  margin-bottom: 5px;

  &:last-of-type {
    margin-right: 0;
  }

  @media screen and (max-width: 1500px) {
    margin-right: 15px;
  }

  @media screen and (max-width: $desktop-width - 1) {
    width: min-content;
    margin-right: 34px;
  }

  @media screen and (max-width: $tablet-width - 1) {
    margin-right: 25px;
  }
}

.contact-list__link {
  display: flex;
  align-items: center;
  color: $text-light;
  line-height: 18px;

  &:hover,
  &:focus {
    color: $text-main;
  }

  &:active {
    opacity: 0.7;
  }

  &:hover svg,
  &:focus svg {
    --svg-contact: #{$main-hover};
  }

  svg {
    margin-right: 20px;

    @media screen and (max-width: $desktop-width - 1) {
      height: 24px;
      width: 24px;
      margin: 0;
    }
  }

  &--flag {
    &:hover svg,
    &:focus svg {
      box-shadow: 0 0 5px 2px rgba($main, 0.5);
    }

    &:active svg {
      opacity: 0.7;
    }
  }
}
