.features {
  margin: 0 auto;

  // @media screen and (max-width: $tablet-width - 1) {
  //   flex-direction: column;
  // }
}

.features__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;

  @media screen and (max-width: $tablet-width - 1) {
    flex-direction: column;
  }

  li {
    width: 48.6%;
    min-height: 301px;
    margin-bottom: 30px;
    padding: 41px 43px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-left: 2px solid $main;

    @media screen and (max-width: $desktop-width - 1) {
      width: 48%;
      padding: 22px 20px 19px 27px;
      min-height: 232px;
    }

    @media screen and (max-width: $tablet-width - 1) {
      width: 100%;
      min-height: 232px;
      padding: 24px 15px 19px 24px;
      margin-bottom: 20px;
    }
    // для проверяющего: у каждой карточки разные размеры, отступы и паддинги, поэтому без of-type селекторов не обойтись
    &:first-of-type {
      @media screen and (max-width: $desktop-width - 1) {
        min-height: 306px;
      }

      @media screen and (max-width: $tablet-width - 1) {
        min-height: 310px;

        h3 {
          margin-bottom: 10px;
        }
      }
    }

    &:nth-of-type(2) {
      @media screen and (max-width: $desktop-width - 1) {
        min-height: 306px;
      }

      @media screen and (max-width: $tablet-width - 1) {
        min-height: 310px;
        padding-right: 14px;

        h3 {
          margin-bottom: 10px;
        }
      }
    }

    &:hover,
    &:focus {
      background: $main;
      border: none;
      border-left: 2px solid $main;

      h3,
      p,
      svg {
        color: white;
        --svg-features: white;
      }
    }

    h3 {
      @include reset-text;
      margin-bottom: 15px;
      font-family: "Roboto Condensed", "Tahoma", sans-serif;
      font-weight: normal;
      font-size: 24px;
      line-height: 34px;
      color: #00B2FF;

      @media screen and (max-width: $desktop-width - 1) {
        margin-bottom: 9px;
      }

      @media screen and (max-width: $tablet-width - 1) {
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 28px;
      }
    }

    p {
      @include reset-text;
      font-size: 16px;
      line-height: 22px;
    }

    .features__icon {
      margin-bottom: 13px;

      @media screen and (max-width: $desktop-width - 1) {
        margin-bottom: 2px;
      }

      @media screen and (max-width: $tablet-width - 1) {
        margin-bottom: 6px;

        &--hired {
          margin-bottom: 1px;
        }

        &--tag {
          margin-bottom: 2px;
        }

        &--detective {
          width: 30px;
          height: 26px;
          margin-bottom: 6px;
        }
      }
    }
  }
}
