.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  z-index: 50;
  background-color: rgba(black, 0.4);

  &--opened {
    display: block;
  }
}

.modal__form {
  position: relative;
  width: 490px;
  min-height: 605px;
  margin-top: 136px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 39px;
  background: $main;

  @media screen and (max-width: 550px) {
    width: 300px;
    padding: 10px;
  }

  h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 140.62%;
  }

  p {
    font-family: "PT Mono", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin: 0 10px 33px 0;
  }

  input {
    width: 100%;
    padding: 11px 23px;
    margin-bottom: 32px;
    color: $text-light;
  }

  input[type="checkbox"] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  }

  textarea {
    min-height: 104px;
    margin-bottom: 31px;
    padding: 13px 24px;
  }

  .form__checkbox {
    width: 100%;
    padding-left: 48px;
    padding-right: 10px;
    font-family: "PT Mono", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: rgba($text-accent, 0.8);

    input + label::before {
      left: 1px;
      top: 3px;
    }

    input:checked + label::after {
      left: 5px;
      top: 6px;
    }
  }

  .form__btn {
    &--submit {
      width: 100%;
      margin-bottom: 32px;
    }
  }
}

.modal__close {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 27px;
  height: 27px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid $text-light;
  }

  &:active {
    background-color: rgba($text-accent, 0.2);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 1px;
    background-color: $text-light;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
}
