.page {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  font-family: "PT Mono", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: $text-main;

  @media screen and (min-width: $desktop-width) {
    max-width: $max-width;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.2);
  }
}

.page__scroll_up {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 999;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: linear-gradient($main, $main-hover);
  color: #444;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid white;
  display: none;

  &:hover,
  &:focus {
    opacity: 1;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
  }

  &:active {
    opacity: 0.7;
  }

  &--show {
    display: block;
    opacity: 0.5;
  }

  svg {
    fill: white;
  }
  &:hover svg,
  &:focus svg {
    animation: bounce_up 1s;
  }
}

@keyframes bounce_up {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-3px);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}
