.page-main {
  min-width: 320px;
  padding: 109px 19.5% 113px;

  @media screen and (max-width: 1300px) {
    padding-left: 6%;
    padding-right: 6%;
  }

  @media screen and (max-width: $desktop-width - 1) {
    padding: 54px 3% 0;
  }

  @media screen and (max-width: $tablet-width - 1) {
    padding: 37px 4.5% 0;
  }
}

// .page-main__features {

// }
