.social {
  @include reset-list;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.social__item {
  width: min-content;
}

.social__item:not(:last-of-type) {
  margin-right: 15px;
}

.social__icon:hover,
.social__icon:focus {
  --social-svg: #{$main};
}

.social__icon:active {
  opacity: 0.5;
}
