$main: #00b2ff;
$main-hover: #038be6;
$main-active: #082858;
$text-main: #666666;
$text-accent: #1b2d37;
$text-light: #ffffff;
$bg: #1b2d37;
$bg-modal: #000000;

$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;
$max-width: 1920px;

@mixin reset-text {
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
